body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: url(images/111.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color:transparent;
    border-radius: 8px;
}

h1,
label {
    color: #ffffff;
}
h1{
    font-size: 100px;
}
input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #fff;
}

input::placeholder,
textarea::placeholder {
    color: #fff;
}

button {
    background-color: #00abf0;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: gold;
}

footer {
    background-color: #081b29;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
}

.home-sci {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 0.5s;
}

.home-sci a:hover::before {
    width: 100%;
}
